<div id="tableBlock">
    <table>

    
     
    </table>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            GetAll();

        });

        function GetAll() {

            $("#tableBlock").css('display', 'inline-block');
            $.ajax({
                url: '/api/values',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function WriteResponse(buys) {
            var strResult = "<table><th>ID</th><th>Name</th><th>Product</th>";
            $.each(buys, function (index, buy) {
                strResult += "<tr><td>" + buy.customer_name + "</td><td> " + buy.product_name + "</td><td> " + buy.customer_size;
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
    </script>
}
